section(layout="row" layout-align="center center")
  div(layout="column" layout-align="center center")
    h1 Hello

    h2 Welcome to the Hacky Wiki

    md-button.md-raised.md-primary(ng-click="index.login()") Github Sign In
